*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,html{
  overflow-x: hidden;
  font-family: 'Poppins',sans-serif;
}
::selection
{
  background-color: #00c753;
  color: white;
}
.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav{
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  transition: 0.3s ease all ;
}

.title{
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left:50%;
  top:80%;
  transform: translate(-50%,-75%);
}
 
h1{
  transition: 0.3s ease all ;
}

h1:hover,ul li:hover{
  cursor: pointer;
  color: #00ff83;
 }






















































